@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-primary: #E2E8F0;
  --color-text-primary: #000;
  --color-snake-back: #121212;
  --dot-bg: #28282B;
  --dot-color: white;
  --snake-body: #00FFFF;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
[data-theme="dark"] {
  --color-bg-primary: #121212;
  --color-text-primary: #fff;
  --color-snake-back: 	#e2e8f0;
  --dot-bg:black;
  --dot-color: #F5FEFD;
  --snake-body: #F5FEFD;
}
@keyframes glow {
  from {
    box-shadow: 0 0 10px 10px red;
  }
  to {
    box-shadow: 0 0 10px 5px hsl(0, 100%, 50%);
  }
}
.gridpattern{
  --dot-size: 1px;
  --dot-space: 22px;
  background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
}